
<div>
    <label class="radio-inline select-time-js"><input type="radio" name="select-time-js" checked value="2">2 minutes</label>
    <label class="radio-inline select-time-js"><input type="radio" name="select-time-js" value="5">5 minutes</label>
    <label class="radio-inline select-time-js"><input type="radio" name="select-time-js" value="10">10 minutes</label>
</div>
<div class="row align-items-start">
    <div class="col-md-4 offset-md-3">
        <button type="button" class="btn btn-primary btn-md go">Commencer</button>
    </div>
</div>
